.choresText {
   color: rgb(150, 11, 243);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
}

.choresHeading {
   color: black;
   text-decoration-line: underline;
}